// .section {

// }

.container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 62px;

    text-align: center;
}

.js-home-page {
    display: grid;
    justify-content: center;

    @include mq(mob-only) {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 398px; 
        grid-template-rows: 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px; 
        gap: 20px 0; 
        grid-template-areas: 
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."
            "."; 
    }

    @include mq(tab) {
        grid-template-columns: 395px 395px; 
        grid-template-rows: 634px 634px 634px 634px 634px 634px 634px 634px 634px; 
        gap: 32px 32px; 
        grid-template-areas: 
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."
            ". ."; 
    }

    @include mq(desk) {
        grid-template-columns: 395px 395px 395px; 
        grid-template-rows: 634px 634px 634px 634px 634px 634px 634px; 
        gap: 32px 16px; 
        grid-template-areas: 
            ". . ."
            ". . ."
            ". . ."
            ". . ."
            ". . ."
            ". . ."
            ". . .";  
    }
}

.js-library-page {
    display: grid;
    display: grid;

    @include mq(mob-only) {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 398px; 
        grid-template-rows: 280px 280px 280px 280px; 
        gap: 20px 0; 
        grid-template-areas: 
            "."
            "."
            "."
            "."; 
    }

    @include mq(tab) {
        grid-template-columns: 395px 395px; 
        grid-template-rows: 634px 634px 634px 634px; 
        gap: 32px 32px; 
        grid-template-areas: 
            ". ."
            ". ."
            ". ."
            ". ."; 
    }

    @include mq(desk) {
        grid-template-columns: 395px 395px 395px; 
        grid-template-rows: 634px 634px 634px; 
        gap: 32px 16px; 
        grid-template-areas: 
            ". . ."
            ". . ."
            ". . .";  
    }
}