  <span class="close">&times;</span>
  <div class="modal__body">
    <div class="modal__thumb">
      <img src="#" alt="" class="modal__image" width="375" height="478">      
    </div>
    <div class="modal__descr">
      <h2 class="modal__descr-title">Header</h2>
      <ul class="modal__descr-list">
        <li class="modal__descr-list-item">
          <p class="modal__descr-list-text">
            <span>Key_1</span><span> Value_key_1</span>
          </p>
        </li>
          <li class="modal__descr-list-item">
          <p class="modal__descr-list-text">
            <span>Key_2</span><span> Value_key_2</span>
          </p>
        </li>
        <li class="modal__descr-list-item">
          <p class="modal__descr-list-text">
            <span>Key_3/span><span> Value_key_3</span>
          </p>
        </li>
        <li class="modal__descr-list-item">
          <p class="modal__descr-list-text">
            <span>Key_4</span><span> Value_key_4</span>
          </p>
        </li>
      </ul>
      <h3 class="modal__descr-subtitle">About</h3>
      <p class="modal__descr-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae atque at sequi, qui veritatis aspernatur natus quidem aliquam, nesciunt tenetur consequuntur facilis excepturi quia provident totam illum beatae quo fuga!
      </p>
      <div class="modal__button-block">
        <button type="button" class="modal__button">add to Watched</button>
        <button class="button" class="modal__button">add to queue</button>
      </div>
    </div>
  </div>