<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <p> &copy; 2020 | All Rights Reserved | Developed with</p>            
            <img class="footer__logo" src="./images/Vector (1).svg" alt="logo" width="14" height="13" />
            <address>
                <a class="footer__tel" href="by GoIT Students"
                    >by GoIT Students</a>
            </address>
        </div>
            
       
            <!-- <div class="footer__wrapper">
                <a class="footer__logo-link" href="./index.html">
                    <img class="footer__logo" src="../images/favorite" alt="logo"/>
                    
                </a>
                <address>
                    <a class="footer__tel" href="tel:380991234567"
                        >+38 (099) 123 45 67</a>
                </address>
                <ul class="footer__soc-list">
                    <li class="footer__soc-item">
                        <a class="footer__soc-link" href="" target="blank"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <p class="footer__comment"> &copy; All rights reserved, 2022</p>
        </div> -->
    </div>

</footer>