<footer class="footer">
    <div class="container footer__wrap">
        <p class="footer__text list">
            <span class="footer__list">&copy; 2022</span><span class="footer__list">All Rights Reserved</span>
        </p>

        <div class="footer__name">
            <span class="footer__span">Developed with</span>
            <img src="./images/vector.svg" alt="Heart" width="14" height="13" class="footer__image" />
            <span class="footer__span">by</span>
            <address>
                <a class="footer__link" href="https://goit.ua/" target="_blank" rel="noopener noreferrer">GoIT Students</a>
            </address>
            <!-- <button class="button" type="button" data-modal-open>Заказать услугу</button>

            <button type="button" class="footer__button" data-modal-open="open-footer-modal">GoIT Students
            </button> -->
        </div>
    </div>
</footer>