<footer class="footer">
    <div class="container footer__wrap">
        <p class="footer__text list">
            <span class="footer__list">&copy; 2020</span><span class="footer__list">All Rights Reserved</span>
        </p>

        <div class="footer__name">
            <span>Developed with</span>
            <img src="./images/vector.svg" alt="Heart" width="14" height="13" class="footer__image" />
            <span>by</span>
            <address>
                <a class="footer__link" href="https://goit.ua/"
                    >GoIT Students</a>
            </address>
            <!-- <button type="button" class="footer__button">
                <span class="footer__button_underline">GoIT Students</span>
            </button> -->
        </div>
    </div>
</footer>