<section class="header">
  <div class="container">
    <div class="navigation">
      <div class="navigation__logo">
        <button class="logo__btn" type="button">
          <img src="./images/film.svg" alt="logo" />
        </button>
        <button type="button" class="header__film">Filmoteka</button>
      </div>
      <ul class="navigation__list">
        <li class="navigation__item">
          <button type="button" id="homepage " class="navigation__link js-home">
            HOME
          </button>
        </li>
        <li class="navigation__item">
          <button
            type="button"
            id="mylibrary"
            class="navigation__link js-library"
          >
            MY LIBRARY
          </button>
        </li>
      </ul>
    </div>
    <div class="search__container">
      <form action="search" class="search__form">
        <label class="search__label" for="">
          <input type="text" class="js-inputSearch search__form--input" placeholder="Movie search" />
        </label>
        <button class="search__icon" type="submit">
          <img src="./images/search.svg" alt="" />
        </button>
      </form>
    </div>

    <div class="button__menu js-is-hidden">
      <button class="button watched-button" type="button">Watched</button>
      <button class="button queue-button" type="button">queue</button>
    </div>
  </div>
</section>
