<section class="header">
  <div class="container">
    <div class="navigation">
      <div class="navigation__logo">
        <a href="">
          <img src="./images/film.svg" alt="logo" />
        </a>
        <a href="">
          <p class="header__film">Filmoteka</p>
        </a>
      </div>
      <ul class="navigation__list">
        <li class="navigation__item">
          <button
            type="button"
            id="homepage "
            class="navigation__link js-home"
            href=""
          >
            HOME
          </button>
        </li>
        <li class="navigation__item">
          <button
            type="button"
            id="mylibrary"
            class="navigation__link js-library"
            href=""
          >
            MY LIBRARY
          </button>
        </li>
      </ul>
    </div>
    <label class="search" for="">
      <input type="text" placeholder="Movie search" />
      <a href="">
        <img class="search__icon" src="./images/search.svg" alt="" />
      </a>
    </label>

    <div class="button__menu js-is-hidden">
      <button class="button" type="button">Watched</button>
      <button class="button" type="button">queue</button>
    </div>
  </div>
</section>
